<nav class="navbar navbar-expand-lg navbar" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'article-list'%}">Django blogs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          {% if request.user.is_authenticated %}



          <li class="nav-item mx-5">
            <a class="nav-link disabled" aria-disabled="true">Welcome {{request.user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'article-list' %}">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-article' %}">Add article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'password_change'%}">Change Password</a></li>
              
            </ul>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
          
          
          
        </ul>
      </div>
    </div>
  </nav>


